[gcode_macro START_PRINT]
gcode:
  {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
  {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}
  {% set Z_MAX = printer.toolhead.axis_maximum.z|default(100)|float %}
  
  #Get Bed and Extruder temperature from Slicer GCode
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
  {% set tool = params.TOOL %}
  M140 S{BED_TEMP}
  {% if printer.toolhead.homed_axes != "xyz" %}
      M118 Start Print Homing
      G28 Y
      G28 X
  {% endif %}
  #Preheat nozzle and bed
  PURGE_PARK
  
  #M109 S{EXTRUDER_TEMP}
  M190 S{BED_TEMP}
  M109 S{(EXTRUDER_TEMP-50)}
  G28 Z
  Z_TILT_ADJUST
  G28 Z
  
 
  PURGE_WIPE
  LOAD_CELL_TARE
  BED_MESH_CALIBRATE SAMPLE_RETRACT_DIST=1 PROFILE=adaptive ADAPTIVE=1
  BED_MESH_PROFILE SAVE=adaptive
  BED_MESH_PROFILE LOAD=adaptive
  M109 S{EXTRUDER_TEMP}
  SKEW_PROFILE LOAD=CaliFlower
  
  M106 S0
